## Part 1: Load Data

In [2]:
import numpy as np
import pandas as pd
import nltk
# import gensim
import gzip
import json

from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /Users/zheng/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/zheng/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
# load data into dataframe

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield json.loads(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

df = getDF('/Users/zheng/Desktop/dataset/Software.json.gz')

In [4]:
df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,4.0,True,"03 11, 2014",A240ORQ2LF9LUI,0077613252,{'Format:': ' Loose Leaf'},Michelle W,The materials arrived early and were in excell...,Material Great,1394496000,NaN,NaN
1,4.0,True,"02 23, 2014",A1YCCU0YRLS0FE,0077613252,{'Format:': ' Loose Leaf'},Rosalind White Ames,I am really enjoying this book with the worksh...,Health,1393113600,NaN,NaN
2,1.0,True,"02 17, 2014",A1BJHRQDYVAY2J,0077613252,{'Format:': ' Loose Leaf'},Allan R. Baker,"IF YOU ARE TAKING THIS CLASS DON""T WASTE YOUR ...",ARE YOU KIDING ME?,1392595200,7,NaN
3,3.0,True,"02 17, 2014",APRDVZ6QBIQXT,0077613252,{'Format:': ' Loose Leaf'},Lucy,This book was missing pages!!! Important pages...,missing pages!!,1392595200,3,NaN
4,5.0,False,"10 14, 2013",A2JZTTBSLS1QXV,0077775473,NaN,Albert V.,I have used LearnSmart and can officially say ...,Best study product out there!,1381708800,NaN,NaN

In [5]:
# check missing value
df.isnull().sum()

overall                0
verified               0
reviewTime             0
reviewerID             0
asin                   0
style             225035
reviewerName          24
reviewText            66
summary               56
unixReviewTime         0
vote              331583
image             457928
dtype: int64

In [6]:
# remove missing value
df.dropna(subset=['reviewText'],inplace=True)

In [7]:
df.reset_index(inplace=True, drop=True)

In [8]:
# use the first 20000 data as our training data
data = df.loc[:19999, 'reviewText'].tolist()

## Part 2: Tokenizing and Stemming

In [10]:
# use nltk's English stopwords.
stopwords = nltk.corpus.stopwords.words('english') #stopwords.append("n't")
stopwords.append("'s")
stopwords.append("'m")
stopwords.append("n") 
stopwords.append("software")

print ("We use " + str(len(stopwords)) + " stop-words from nltk library.")
print (stopwords[:10])

We use 183 stop-words from nltk library.
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [11]:
from nltk.stem.snowball import SnowballStemmer
# from nltk.stem import WordNetLemmatizer 

stemmer = SnowballStemmer("english")

# tokenization and stemming
def tokenization_and_stemming(text):
    tokens = []
    # exclude stop words and tokenize the document, generate a list of string 
    for word in nltk.word_tokenize(text):
        if word.lower() not in stopwords:
            tokens.append(word.lower())

    filtered_tokens = []
    
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if token.isalpha():
            filtered_tokens.append(token)
            
    # stemming
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems

In [12]:
tokenization_and_stemming(data[0])

['materi',
 'arriv',
 'earli',
 'excel',
 'condit',
 'howev',
 'money',
 'spent',
 'realli',
 'come',
 'binder',
 'loos',
 'leaf']

In [13]:
data[0]

"The materials arrived early and were in excellent condition.  However for the money spent they really should've come with a binder and not just loose leaf."

## Part 3: TF-IDF

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
# define vectorizer parameters
# TfidfVectorizer will help us to create tf-idf matrix
# max_df : maximum document frequency for the given word
# min_df : minimum document frequency for the given word
# max_features: maximum number of words
# use_idf: if not true, we only calculate tf
# stop_words : built-in stop words
# tokenizer: how to tokenize the document
# ngram_range: (min_value, max_value), eg. (1, 3) means the result will include 1-gram, 2-gram, 3-gram
tfidf_model = TfidfVectorizer(max_df=0.99, max_features=1000,
                              min_df=0.01, stop_words='english',
                              use_idf=True, tokenizer=tokenization_and_stemming, ngram_range=(1,1))

tfidf_matrix = tfidf_model.fit_transform(data) #fit the vectorizer to synopses

print ("In total, there are " + str(tfidf_matrix.shape[0]) + \
      " reviews and " + str(tfidf_matrix.shape[1]) + " terms.")

/opt/anaconda3/lib/python3.9/site-packages/sklearn/feature_extraction/text.py:396: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['afterward', 'alon', 'alreadi', 'alway', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becom', 'besid', 'cri', 'describ', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'forti', 'henc', 'hereaft', 'herebi', 'howev', 'hundr', 'inde', 'mani', 'meanwhil', 'moreov', 'nobodi', 'noon', 'noth', 'nowher', 'otherwis', 'perhap', 'pleas', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'thenc', 'thereaft', 'therebi', 'therefor', 'togeth', 'twelv', 'twenti', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev'] not in stop_words.
  warnings.warn(

In total, there are 20000 reviews and 823 terms.

In [15]:
# save the words identified by TF-IDF
tf_selected_words = tfidf_model.get_feature_names_out()

## Part 4: K-means clustering

In [16]:
# k-means clustering
from sklearn.cluster import KMeans

num_clusters = 4

# number of clusters
km = KMeans(n_clusters=num_clusters)
km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

In [17]:
# create DataFrame films from all of the input files.
product = { 'review': df[:20000].reviewText, 'cluster': clusters}
frame = pd.DataFrame(product, columns = ['review', 'cluster'])

In [18]:
frame.head(10)

                                              review  cluster
0  The materials arrived early and were in excell...        0
1  I am really enjoying this book with the worksh...        0
2  IF YOU ARE TAKING THIS CLASS DON"T WASTE YOUR ...        0
3  This book was missing pages!!! Important pages...        0
4  I have used LearnSmart and can officially say ...        0
5  Strong backgroung, good read, quite up to date...        0
6  If you live on Mars and never heard of the int...        0
7  i got this book on amazon and it ended up savi...        0
8  I was very happy with this purchase because th...        0
9  Recieved in a timely manner- book in great con...        0

In [19]:
print ("Number of reviews included in each cluster:")
frame['cluster'].value_counts().to_frame()

Number of reviews included in each cluster:

   cluster
0     9445
1     5537
2     2816
3     2202

In [20]:
print ("<Document clustering result by K-means>")

#km.cluster_centers_ denotes the importances of each items in centroid.
#We need to sort it in decreasing-order and get the top k items.
order_centroids = km.cluster_centers_.argsort()[:, ::-1] 

Cluster_keywords_summary = {}
for i in range(num_clusters):
    print ("Cluster " + str(i) + " words:", end='')
    Cluster_keywords_summary[i] = []
    for ind in order_centroids[i, :15]: #replace 15 with n words per cluster
        Cluster_keywords_summary[i].append(tf_selected_words[ind])
        print (tf_selected_words[ind] + ",", end='')
    print ()

<Document clustering result by K-means>
Cluster 0 words:use,great,program,work,product,good,learn,easi,offic,like,need,price,love,word,version,
Cluster 1 words:instal,product,problem,use,program,work,support,comput,version,norton,tri,year,time,quicken,money,
Cluster 2 words:game,play,love,fun,kid,old,great,like,nanci,enjoy,year,realli,son,daughter,time,
Cluster 3 words:window,xp,os,instal,work,run,comput,mac,upgrad,use,version,microsoft,program,new,oper,

## Part 5: Topic Modeling - Latent Dirichlet Allocation

In [21]:
# use LDA for clustering
from sklearn.decomposition import LatentDirichletAllocation
lda = LatentDirichletAllocation(n_components=4)

In [22]:
# document topic matrix for tfidf_matrix_lda
lda_output = lda.fit_transform(tfidf_matrix)
print(lda_output.shape)
print(lda_output)

(20000, 4)
[[0.79726549 0.06784448 0.0667019  0.06818813]
 [0.08623944 0.08574947 0.08157559 0.7464355 ]
 [0.08592674 0.76887107 0.07362226 0.07157992]
 ...
 [0.05028674 0.05070362 0.84912375 0.04988589]
 [0.03569159 0.03561892 0.89374432 0.03494517]
 [0.0625006  0.06363495 0.81292128 0.06094317]]

In [23]:
# topics and words matrix
topic_word = lda.components_
print(topic_word.shape)
print(topic_word)

(4, 823)
[[4.77449625e+00 4.02327889e+01 6.34308017e+00 ... 2.62205389e-01
  1.23399218e+02 5.78202220e+00]
 [4.33072736e+01 7.77283213e+01 2.11740694e+01 ... 1.45897631e+01
  1.01041262e+02 1.72995067e+01]
 [1.33864229e+01 7.27598675e+01 2.79425947e+01 ... 4.09676217e+02
  1.33089350e+02 3.25856845e+01]
 [7.07239518e+00 2.89984850e+01 2.66628529e+01 ... 6.66798349e-01
  1.51486783e+02 8.60959494e+00]]

In [24]:
# column names
topic_names = ["Topic" + str(i) for i in range(lda.n_components)]

# index names
doc_names = ["Doc" + str(i) for i in range(len(data))]

df_document_topic = pd.DataFrame(np.round(lda_output, 2), columns=topic_names, index=doc_names)

# get dominant topic for each document
topic = np.argmax(df_document_topic.values, axis=1)
df_document_topic['topic'] = topic

df_document_topic.head(10)

      Topic0  Topic1  Topic2  Topic3  topic
Doc0    0.80    0.07    0.07    0.07      0
Doc1    0.09    0.09    0.08    0.75      3
Doc2    0.09    0.77    0.07    0.07      1
Doc3    0.07    0.79    0.07    0.07      1
Doc4    0.67    0.23    0.05    0.05      0
Doc5    0.07    0.79    0.07    0.07      1
Doc6    0.56    0.08    0.28    0.08      0
Doc7    0.80    0.07    0.06    0.07      0
Doc8    0.74    0.08    0.09    0.09      0
Doc9    0.77    0.08    0.07    0.07      0

In [25]:
df_document_topic['topic'].value_counts().to_frame()

   topic
2   7137
1   5842
3   3639
0   3382

In [26]:
# topic word matrix
print(lda.components_)
# topic-word matrix
df_topic_words = pd.DataFrame(lda.components_)

# column and index
df_topic_words.columns = tfidf_model.get_feature_names_out()
df_topic_words.index = topic_names

df_topic_words.head()

[[4.77449625e+00 4.02327889e+01 6.34308017e+00 ... 2.62205389e-01
  1.23399218e+02 5.78202220e+00]
 [4.33072736e+01 7.77283213e+01 2.11740694e+01 ... 1.45897631e+01
  1.01041262e+02 1.72995067e+01]
 [1.33864229e+01 7.27598675e+01 2.79425947e+01 ... 4.09676217e+02
  1.33089350e+02 3.25856845e+01]
 [7.07239518e+00 2.89984850e+01 2.66628529e+01 ... 6.66798349e-01
  1.51486783e+02 8.60959494e+00]]

,abil,abl,absolut,accept,access,account,act,activ,actual,ad,...,wors,worst,worth,write,written,wrong,x,xp,year,yes
Topic0,4.774496,40.232789,6.343080,3.977757,1.304352,3.605419,0.255138,57.254499,27.277314,7.724054,...,1.936370,3.522369,28.840771,25.422972,13.700701,12.746349,0.271749,0.262205,123.399218,5.782022
Topic1,43.307274,77.728321,21.174069,13.514197,39.187045,101.151444,66.290121,5.170356,48.584867,47.359077,...,19.529603,22.658433,61.812335,63.515155,26.943935,34.161135,8.623621,14.589763,101.041262,17.299507
Topic2,13.386423,72.759868,27.942595,18.259203,72.891816,22.467353,11.593717,58.388292,47.033059,37.984279,...,25.428110,32.206209,62.409665,22.236962,11.729091,34.652372,76.524066,409.676217,133.089350,32.585684
Topic3,7.072395,28.998485,26.662853,0.642503,0.716284,0.256264,3.130665,40.051916,32.424947,5.924500,...,1.222534,4.880821,28.546327,8.169370,2.315292,10.699998,0.257165,0.666798,151.486783,8.609595